/* CORE STYLES */

html{
    scroll-behavior: smooth;
}

.section-title{
    grid-column: 1 / 3;
}

.section-title h4{
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff8f00;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.section-title h2{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 1.4em;
    text-transform: capitalize;
}

.section-title button{
    margin-top: 30px;
    padding: 15px 40px;
    color: #ffffff;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #2970fa;
    cursor: pointer;
}

.align-center{
    text-align: center;
}

a{
    transition: all 0.3s ease-in-out;
}

/*HEADER SECTION */
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 2;
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.main-navigation__item{
    display: inline-block;
    padding: 0.625rem;
}

.main-header__link a{
    text-decoration: none;
    color: #20292f;
    font-size: 23px;
    font-weight: 600;
}

.main-header__link a:hover{
    cursor: pointer;
}

.main-navigation__item a{
    text-decoration: none;
    color: #20292f;
    font-weight: 600;
}

.main-navigation__item a:hover{
    color: gray;
    cursor: pointer;
}

/* /HEADER SECTION */

/* WELCOME SECTION */

.main-banner{
    background-image: url("images/pictures/Backgrounds/hosting-company-01.png"), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
    background-position: center bottom 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 800px;
}

.welcome-section{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
    
}

.welcome-section__image img{
    padding-top: 100px;
    width: 500px;
}

.welcome-section__info{
   padding-top: 100px;
}

.welcome-section__info h1{
    text-transform: capitalize;
    color: white;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 1000;
    font-size: 52px;
    line-height: 1.2em;
}

.welcome-section__info p{
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

.welcome-section__info button{
    margin-top: 20px;
    color: white;
    padding: 15px 40px;
    background-color: #263547;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 800;
    cursor: pointer;
}

/* /WELCOME SECTION */

/* PRICELIST SECTION */

.pricelist-section{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.pricelist-section__item{
    padding: 1.25rem 3.125rem;
}

.dot{
    color: #2970fa;
    font-size: 28px;
}

.domain{
    font-size: 28px;
    font-weight: 600;
}

.price{
    color: gray;
    font-size: 16px;
}

/* /PRICELIST SECTION */

/* SERVICES SECTION */

.services-items{
    display: grid;
    padding: 100px 100px;
    grid-template-columns: auto auto auto;
}

.services-item{
    margin: 10px 20px;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}

.services-item h4{
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-size: 24px;
    font-weight: 700;
}

.services-item p{
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

.services-item__click a{
    text-decoration: none;
    text-transform: uppercase;
    color: #2970fa;
    letter-spacing: 1px;
    font-size: 13px;
}

/* /SERVICES SECTION */

/* FEATURE DESCRIPTION SECTION */

.feature-desc{
    display: flex;
    justify-content: space-evenly;
    padding: 0.625rem 9.375rem;
}

.feature-desc__image img{
    width: 31.25rem;
}



.section-title p{
    font-size: 16px;
    line-height: 2em;
    color: #666;
    font-weight: 500;
}

/* /FEATURE DESCRIPTION SECTION */

/* FEATURES SECTION */

.features-items{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3.125rem 9.375rem;
}

.features-item{
    display: grid;
    grid-template-columns: 100px auto;
    padding: 10px 20px;
}

.features-item p{
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

/* /FEATURES SECTION */

/* PRICING SECTION */

.pricing{
    padding: 10px 100px;
}

.pricing-boxes{
    display: grid;
    grid-template-columns: auto auto auto;
}

.pricing-box{
    margin: 0.625rem 1.25rem;
    padding: 1.875rem 2.5rem;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}

.pricing-box h4{
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    color: #ff8f00;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.pricing-box h2{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 1.4em;
    text-transform: capitalize;
}

.pricing-box p{
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

.gray-text{
    font-size: 20px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

.orange h4,
.orange ul,
.orange button{
    color: #ff8f00;
}

.blue h4,
.blue ul{
    color: #2970fa;
}

.green h4,
.green ul,
.green button{
    color: #29cf8d;
}

.not-included{
    color: #ccc;
    line-height: 2.3em;
}

.orange button{
    background-color: rgba(255, 143, 0, 0.1);
    margin-top: 30px;
    padding: 15px 40px;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

.blue button{
    margin-top: 30px;
    padding: 15px 40px;
    color: #ffffff;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #2970fa;
    cursor: pointer;
}

.green button{
    margin-top: 30px;
    padding: 15px 40px;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgba(41, 207, 141, 0.1);
    cursor: pointer;
}

/* /PRICING SECTION */

/* FILE MANAGEMENT SECTION */

.file-management{
    display: flex;
    gap: 20px;
    padding: 0 6.25rem;
    max-width: 1200px;
    margin: 6.25rem auto;
    align-items: center;
}

.file-management__text{
    flex: 1;
}

.file-management__image{
    flex: 1;
}

.fm__image img{
    width: 31.25rem;
}

.file-management__image button{
    margin-top: 30px;
    padding: 15px 40px;
    color: #ffffff;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #2970fa;
    cursor: pointer;
}

.file-management__item{
    display: grid;
    grid-template-columns: 3.125rem auto;
    padding: 0 1.25rem;
    align-items: center;
}

.file-management__item-text p{
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

/* /FILE MANAGEMENT SECTION */

/* LIVE CHAT SECTION */

.container {
  position: relative;
  min-height: 800px;
  background: linear-gradient(150deg, #ffba61 33%, #ffe970 66%);
  overflow: hidden;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 25%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.container::before {
  top: 0;
  background-image: url("images/pictures/Backgrounds/hosting-company-02.png"), linear-gradient(150deg, #ffba61 66%, #ffe970 100%);
  background-position: center bottom;
}

.container::after {
  bottom: 0;
  background-image: url("images/pictures/Backgrounds/hosting-company-02.png"), linear-gradient(150deg, #ffe970 66%, #ffba61 100%);
  transform: rotate(180deg);
  background-position: center top;
}

.live-chat {
  position: relative;
  z-index: 1;
  padding: 18.75rem 25rem;
  text-align: center;
}

.live-chat h2{
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
}

.live-chat p{
    color: white;
    font-size: 16px;
    line-height: 32px;
}

.live-chat button{
    margin-top: 20px;
    color: white;
    padding: 0.9375rem 2.5rem;
    background-color: #263547;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 800;
    cursor: pointer;
}

/* /LIVE CHAT SECTION */

/* EASY SETUP SECTION */

.setup{
    display: flex;
    gap: 1.25rem;
    padding: 0 6.25rem;
    max-width: 1200px;
    margin: 6.25rem auto;
    align-items: center;
}

.setup-image, .setup-text{
    flex: 1;
}

.setup-image__img img{
    width: 31.25rem;
}

.setup-text__txt p{
    font-size: 20px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

.setup-text__items{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.setup-text__icon{
    color: #ff8f00;
}

.setup-text button{
    margin-top: 30px;
    padding: 15px 40px;
    color: #ffffff;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #2970fa;
    cursor: pointer;
}

/* /EASY SETUP SECTION */

/* CUSTOMER TESTIMONIALS SECTION */

.comments-items{
    display: flex;
    padding: 0 5rem;
    max-width: 1200px;
}

.comments-item{
    flex: 1;
    text-align: center;
    margin: 0 1.875rem;
    padding: 3.125rem 1.25rem;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}

.comments-item img{
    width: 80px;
    border-radius: 50%;
}

.comments-item p, .comments-item h5{
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
    font-weight: 500;
}

.comments-item h5{
    font-weight: bold;
}

/* /CUSTOMER TESTIMONIALS SECTION */

/* SATISFACTION */
.satisfaction{
    margin: 9.375rem 3.125rem;
}

.satisfaction h2{
    font-size: 38px;
    text-align: center;
    font-weight: 800;
}

.satisfaction-items{
    display: flex;
    gap: 2.5rem;
    padding: 3.125rem 6.25rem;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.satisfaction-item{
    flex: 1;
    padding: 0.625rem 3.125rem;
    background-color: #ffba61;
    border-radius: 20px;
}

.box-1, .box-2{
    background-position: left bottom 0px;
    background-color: #7EBEC5;
    border-radius: 24px 24px 24px 24px;
    overflow: hidden;
}

.box-1{
    background-image: url("images/pictures/Backgrounds/hosting-company-06.png"), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
}

.box-2{
    background-image: url("images/pictures/Backgrounds/hosting-company-07-1.png"), linear-gradient(150deg, #ffba61 0%, #ffdc71 100%);
}

.satisfaction-item__content{
    margin: 3.125rem 0.625rem;
    z-index: 2;
}

.satisfaction-item__content h4{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.satisfaction-item__content p{
    color: white;
    font-size: 16px;
    line-height: 30px;
} 


.satisfaction-item__content button{
    margin-top: 20px;
    color: white;
    padding: 0.9375rem 2.5rem;
    background-color: #263547;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 800;
    cursor: pointer;
}

/* /SATISFACTION */

/* FREE HOSTING */

.hosting{
    min-height: 43.75rem;
    overflow: hidden;
    background-image: url("images/pictures/Backgrounds/hosting-company-11.png"), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
    transform: rotate(180deg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hosting-content{
    transform: rotate(180deg);
    text-align: center;
    margin: 1.25rem 6.25rem;
    padding: 6.25rem 18.75rem;
}

.hosting h2{
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
}

.hosting-content p{
    color: white;
    font-size: 16px;
    line-height: 27px;
}

.hosting-content button{
    margin-top: 20px;
    color: white;
    padding: 0.9375rem 2.5rem;
    background-color: #263547;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 800;
    cursor: pointer;
}

/* /FREE HOSTING */

/* FOOTER SECTION */

.footer-container{
    width: 100%;
    margin: 0 auto;
}

.footer{
    margin: 0 0;
    width: 100%;
    padding: 10px 0;
    background-color: #222;

    display: flex;
    padding: 0 20px;
    margin: 0 auto;
}

.footer-content,
.footer-socials{
    flex: 1;
    align-items: center;
    text-align: center;
}

.footer-content p, a{
    color: #666;
    text-decoration: none;
}

.footer-socials ul{
    list-style: none;
}

.footer-socials li{
    display: inline-block;
    padding: 0 10px;
    color: #666;
    font-size: 20px;
    font-weight: 500;
}

/* /FOOTER SECTION */

/* MEDIA QUERIES SECTION */

@media only screen and (max-width: 980px){
    /* HEADER SECTION */

    .main-navigation{
        display: none;
    }


    /* WELCOME SECTION */

    .welcome-section{
        display: flex;
        flex-direction: column;
    }

    /* PRICELIST SECTION */

    .pricelist-section{
        display: grid;
        grid-template-columns: auto auto;
    }

    /* SERVICES SECTION */

    .services-items{
        display: grid;
        padding: 3.125rem 3.125rem;
        grid-template-columns: auto;
        width: 80%;
    }

    /* FEATURE DESCRIPTION SECTION */

    .feature-desc{
        display: flex;
        flex-direction: column;
        padding: 0.625rem 9.375rem;
    }

    /* FEATURES SECTION */

    .features-items{
        display: grid;
        grid-template-columns: auto;
        padding: 3.125rem 9.375rem;
    }

    /* PRICING SECTION */

    .pricing-boxes{
        display: grid;
        grid-template-columns: auto;
    }

    /* FILE MANAGEMENT SECTION */

    .file-management{
        display: flex;
        flex-direction: column;
    }

    /* EASY SETUP SECTION */

    .setup{
        display: flex;
        flex-direction: column;
    }

    /* CUSTOMER TESTIMONIALS SECTION */

    .comments-items{
        display: flex;
        flex-direction: column;
    }

    /* SATISFACTION */

    .satisfaction-items{
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 478px){
     /* PRICELIST SECTION */

    .pricelist-section{
        display: grid;
        grid-template-columns: auto;
    }
}